*
{
	padding: 0;
	margin: 0;
	border: 0;
	font: 13px Arial;
}
BODY
{
}
HEADER
{
	height: 65px;
	background: #202020;
	position: fixed;
	width: 100%;
}
.icon-prev
{
	width: 17px;
	height: 17px;
	background: url(../images/sprite.png) no-repeat 0px 0px;
}
.icon-next
{
	width: 17px;
	height: 17px;
	background: url(../images/sprite.png) no-repeat -68px 0px;
}
.icon-play
{
	width: 23px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat -19px 0px;
}
.icon-pause
{
	width: 22px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat -44px 0px;
}
#player
{
	position: relative;
	top: 20px;
	margin-left: 140px;
	padding-left: 118px;
}
#player .left
{
	width: 97px;
	height: 25px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
#player .left > DIV
{
	position: absolute;
	cursor: pointer;
}
#player .left > DIV:hover
{
	background-position-y: -27px;
}
#player #prev
{
	top: 6px;
	left: 0px;
}
#player #control
{
	top: 0px;
	left: 37px;
}
#player #next
{
	top: 6px;
	left: 80px;
}
#player #progressbar
{
	height: 7px;
	top: 5px;
	position: relative;
	margin-right: 20px;
	cursor: pointer;
}
#player #progressbar #progressLoad
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #555;
	z-index: 1;
}
#player #progressbar #current
{
	position: absolute;
	width: 35%;
	height: 100%;
	background: #FFF;
	z-index: 2;
}
#player #playing
{
	color: #A9A9A9;
	margin-top: 10px;
}
#player #playing #currentTime
{
	float: left;
	margin-right: 10px;
	color: #FFF;
	cursor: pointer;
}
